/*   CLASSI UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Corinthia', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    clear: both;
    content: '';
    display: table;
}

/* puntatore */
.contact-box {
    cursor: pointer;
}
/* / CLASSI UTILITY */

/*   background layout */

#app {
    position: relative;
}

.up-layout {
    height: 120px;
    background-color: #128C7E;
}
.down-layout {
    background-color: #ece5dd;
    height: calc(100vh - 120px);
}
/* / background layout */

.app-window {
    height: 600px;
    width: 900px;

    border: black 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header {
    height: 55px;
    border: red 2px solid;
}

/* ---   NAV ---*/
nav {
    width: 35%;
    height: 100%;

    border: 2px green solid;

    float: left;
}


.list-box {
    background-color: #fff;
    
}
.contact-box {
    height: 60px;
    padding:10px;
    display: flex;
    align-items: center;
    
}


.contact-box img {
    width: 42px;
    border-radius: 50%;
}

.contact-box div {
    padding-left: 10px;
}

/* --- / NAV --- */

/* ---   MAIN --- */
main {
    width: 65%;
    height: 100%;

    border: blue 2px solid;

    float: left;
/* --- / MAIN --- */