/*   CLASSI UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Corinthia', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    clear: both;
    content: '';
    display: table;
}

/* puntatore */
.contact-box,
.fas {
    cursor: pointer;
}

.fas:hover {
    color: #666;
}
/* / CLASSI UTILITY */

/*   background layout */

#app {
    position: relative;
}

.up-layout {
    height: 17vh;
    background-color: #128C7E;
}
.down-layout {
    background-color: #ece5dd;
    height: 83vh;
}
/* / background layout */

.app-window {
    height: 600px;
    width: 900px;

    border: black 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header {
    height: 55px;
    /* border: red 2px solid; */
    background-color: #eeeeee ;
    display: flex;
    justify-content: space-between;
}

/* ---   NAV ---*/
nav {
    width: 35%;
    height: 100%;

    border-right: #aaa 1px solid;
    /* border: 2px green solid; */

    float: left;
}

.user-box {
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.user-box img {
    height: 37px;
    border-radius: 50%;
}
.user-box div {
    padding-left: 10px;
}

.button-box {
    padding: 10px;
    color: #aaa;

    display: flex;
    align-items: center;
}
.button-box .fas {
    margin: 7px;
}

.list-box {
    background-color: #fff;
    
}
.contact-box {
    height: 60px;
    padding:10px;
    display: flex;
    align-items: center; 
}
.contact-box.active {
    background-color: #ccc;
}
.contact-box:hover.active {
    background-color: #ccc;
}
.contact-box:hover {
    background-color: #eee;
}
.contact-box img {
    width: 42px;
    border-radius: 50%;
}

.contact-box div {
    padding-left: 10px;
}

/* --- / NAV --- */

/* ---   MAIN --- */
main {
    width: 65%;
    height: 100%;

    /* border: blue 2px solid; */

    float: left;
/* --- / MAIN --- */