<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    
    <link rel="icon" href="img/whatsapp_icon_130788.ico">
    <title>Boolzap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Dongle&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id='app'>

        <!-- sfondo colorato -->
        <div class="background-layout">
            <div class="up-layout"></div>
            <div class='down-layout'></div>
        </div>
        <!-- / sfondo colorato -->

        <!-- finestra applicazione -->
        <div class="app-window clearfix">

            <!--  layout destra -->
            <nav>
                <!--  utente -->
                <header>
                    <div class="user-box">
                        <img src="img/agostino.jpg" alt="user-avatar">
                        <div>Agostino</div>
                    </div>
                    <div class="button-box">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </header>
                <!-- / utente -->

                <div class="contact-container">
                    <div class="notification"></div>
                    <div class="search-box"></div>
                    <div class="list-box">
                        <!-- v-for per creare la lista dei contatti in data -->
                        <div 
                        v-for='(contact, index) in contacts' 
                        class="contact-box" @click='activeUser(index)'
                        :class='{active : index === activeUserId}'
                        >
                            <img  :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                            <div> {{contact.name}} </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- / layout destra -->

            <!--   layout sinistra -->
            <main>

                <!--   utente attivo -->
                <header>
                    <div class="user-box">
                        <img :src="'img/avatar' + contacts[activeUserId].avatar + '.jpg'" alt="contacts[activeUserId].name">
                        <div> {{ contacts[activeUserId].name }}</div>
                    </div>
                    <div class="button-box">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </header>
                <!-- / utente attivo -->

                <!--   chat -->
                <div class="chat-container">

                    <div class="chat-box">
                        <div 
                        class="message-box"
                        :class="{sent : message.status === 'sent'}"
                        v-for='message in this.contacts[activeUserId].messages'
                        >
                            <div class="message" >
                                <div class="text"> {{message.text}} </div>
                                <div class="date"> {{message.date}}</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="write-box">
                        <i class="far fa-grin"></i>

                        <input placeholder="scrivi un messaggio" type="text">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
                <!-- / chat -->

            </main>
            <!-- / layout sinistra -->


        </div>
        <!-- / finestra applicazione -->       

    </div>
    <script src="js/script.js"></script>
</body>
</html>